/* src/App.css */

.app {
  text-align: center;
}

.app-header {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 10px;
}

.completed {
  text-decoration: line-through;
  color: grey;
}

input[type="text"] {
  width: 100%;
}

.btn-group button {
  margin: 5px;
}

.list-group-item {
  margin-top: 10px;
}

h1,
h2 {
  color: #343a40;
}